code.bash {
  display: block;
}

ol.numbered li {
  list-style-type: inherit;
}

pre.prettyprint {
  font-size: small;
  font-family: monospace;
}

.graph_tab_div {
  width: 100%; height: 300px; margin-top: 15px;
}

.eventGraph {
  width : 710px;
  height : 300px;
}