<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/oseblogo.css" />
    <link rel="stylesheet" type="text/css" href="/prettify/prettify.css" />
    <link type="text/css" href="/css/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/prettify/prettify.js"></script>
    <script type="text/javascript" src="/js/oseblogo.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="<%= @context[:description] || 'Default description' %>" />
    <title>
      <% if @path == 'index' %>
        OSE Blogo
      <% elsif @path.split('/').compact.length == 4 %>
        <%= title %> - OSE Blogo
      <% else %>
        <%= @path.capitalize.gsub(/[-]/, ' ') %> - OSE Blogo
      <% end %>
    </title>
  </head>
  <body onload="prettyPrint()">
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

